.DS_Store
/.build
/Packages
/checkouts
xcuserdata/
DerivedData/
*.o
*.d
*.swp
Module.modulemap
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
